.navbar {
  /*position:relative;*/
  /*min-height:50px;*/
  margin-bottom:3px;
  /*border:1px solid transparent;*/
}

.navbar-default {
  background-color:#481616;
  border-color:#690b0b;
}

.navbar-default {
  /*background-image:-webkit-linear-gradient(top,#7b3333 0,#602424 100%);*/
  background-image:-o-linear-gradient(top,#fff 0,#f8f8f8 100%);
  /*background-image:-webkit-gradient(linear,left top,left bottom,from(#11956a),to(#328b6e));*/
  /*background-image:linear-gradient(to bottom,#229a73 0,#26916e 100%);*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat:repeat-x;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

