<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
        <!-- 連線池c3p0設定-->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="hibernate.connection.username">AnimalMap</property>
		<property name="hibernate.connection.password">AnimalMap</property>       
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<!--SQL方言,以下使用Oracle -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>
        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>
        <!-- 告訴Hibernate不是使用預設的單純JDBC連線池 (這是Hibernate4開始有的新設定) -->
        <!-- 目前因為是使用c3p0連線池，才需要加入此設定 -->
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<!-- 物件與資料庫表格映射文件，mapping屬性改class，值為類別全名 -->
		<mapping class="heibernate_com.charge.model.ChargeVO" />
		<mapping class="heibernate_com.product_kind.model.Product_kindVO" />
		<mapping class="heibernate_com.orders_item.model.Orders_itemVO" />
		<mapping class="heibernate_com.second_prodphotos.model.Second_ProdPhotosVO" />
		<mapping class="heibernate_com.second_prodmsg.model.Second_ProdMsgVO" />
		<mapping class="heibernate_com.product.model.ProductVO" />
		<mapping class="heibernate_com.second_prod.model.Second_ProdVO" />
		<mapping class="heibernate_com.orders.model.OrdersVO" />
		<mapping class="heibernate_com.emp_purview.model.Emp_purviewVO" />
		<mapping class="heibernate_com.purview.model.PurviewVO" />
		<mapping class="heibernate_com.animal_index.model.Animal_indexVO" />
		<mapping class="heibernate_com.emg_h_msg.model.Emg_H_MsgVO" />
		<mapping class="heibernate_com.emg_help.model.Emg_HelpVO" />
		<mapping class="heibernate_com.stray_ani_photos.model.Stray_Ani_photosVO" />
		<mapping class="heibernate_com.stray_ani_message.model.Stray_Ani_messageVO" />
		<mapping class="heibernate_com.stray_ani_loc.model.Stray_Ani_LocVO" />
		<mapping class="heibernate_com.stray_ani.model.Stray_AniVO" />
		<mapping class="heibernate_com.pet_photos.model.Pet_PhotosVO" />
		<mapping class="heibernate_com.pet_message.model.Pet_MessageVO" />
		<mapping class="heibernate_com.pet.model.PetVO" />
		<mapping class="heibernate_com.adopt_ani_photos.model.Adopt_Ani_photosVO" />
		<mapping class="heibernate_com.adopt_ani_message.model.Adopt_Ani_messageVO" />
		<mapping class="heibernate_com.adopt_ani_sponsor.model.Adopt_Ani_sponsorVO" />
		<mapping class="heibernate_com.adoanispo.model.AdoAniSpoVO" />
		<mapping class="heibernate_com.adopt_ani.model.Adopt_AniVO" />
		<mapping class="heibernate_com.post_response.model.Post_ResponseVO" />
		<mapping class="heibernate_com.post.model.PostVO" />
		<mapping class="heibernate_com.offimsg.model.OffiMsgVO" />
		<mapping class="heibernate_com.track.model.TrackVO" />
		<mapping class="heibernate_com.adpphotos.model.AdpPhotosVO" />
		<mapping class="heibernate_com.adpmsg.model.AdpMsgVO" />
		<mapping class="heibernate_com.adp.model.AdpVO" />
		<mapping class="heibernate_com.park.model.ParkVO" />
		<mapping class="heibernate_com.anihome_photos.model.AniHome_PhotosVO" />
		<mapping class="heibernate_com.anihome_msg.model.AniHome_MsgVO" />
		<mapping class="heibernate_com.anihome.model.AniHomeVO" />
		<mapping class="heibernate_com.mem.model.MemVO" />
		<mapping class="heibernate_com.emp.model.EmpVO" />
		<mapping class="heibernate_com.report.model.ReportVO" />
	</session-factory>
</hibernate-configuration>
